<div class="c-reset">
  <div  class="reset-password-form">
    <h1><%= t ".forgot_password" %></h1>
    <%= form_for :password_reset, url: password_resets_path do |f| %>
      <div class="pf-title">
        <%= t ".email" %>
      </div>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
