<%= form_for object do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".name" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.text_field :name, placeholder: t(".placeholder.name") %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".description" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.text_area :description, placeholder: t(".placeholder.description") %>
      </div>
    </div>
    <div class="col-lg-6">
      <span class="pf-title"><%= t ".salary" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.number_field :salary, min: Settings.number_field.min,
                            step: Settings.number_field.step,
                            value: (object.salary || Settings.number_field.default_value) %>
      </div>
    </div>
    <div class="col-lg-6">
      <span class="pf-title"><%= t ".quantity" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.number_field :quantity, min: Settings.number_field.min,
                            step: Settings.number_field.step,
                            value: (object.quantity || Settings.number_field.default_value) %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".requirement" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.text_area :requirement %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".benefit" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.text_area :benefit %>
      </div>
    </div>
    <div class="col-lg-12">
      <%= f.fields_for :reason_to_joins do |reason| %>
        <%= render "reason_to_join_fields", f: reason %>
      <% end %>

      <div>
        <%= link_to_add_association f, :reason_to_joins %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".expire_at" %></span>
      <span class="required-field"></span>
      <div class="pf-field">
        <%= f.date_field :expire_at %>
      </div>
    </div>
    <div class="col-lg-12 submit-container">
      <%= f.submit yield(:submit_text) %>
    </div>
  </div>
<% end %>
