<div class="job-listing">
  <div class="job-title-sec">
    <div class="c-logo">
      <%= link_to image_tag(Settings.image.company_logo), root_path %>
    </div>
    <h3><a href="#" title="">
      <%= job.name %>
    </a></h3>
    <span>
      <%= job.salary %> $
    </span>
  </div>
  <span class="job-lctn"><i class="fa fa-map-marker"></i>
  </span>
  <span class="fav-job"><i class="fa fa-heart-o"></i></span>
  <span class="job-is fl">
    <% if @current_account&.user&.apply? job.id %>
      <%= t ".applied" %>
    <% else %>
      <%= link_to t(".apply_job"), apply_form_job_path(job) %>
    <% end %>
  </span>
</div>
