<%= form_for object do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".name" %></span>
      <div class="pf-field">
        <%= f.text_field :name, placeholder: t(".placeholder.name") %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".description" %></span>
      <div class="pf-field">
        <%= f.text_area :description, placeholder: t(".placeholder.description") %>
      </div>
    </div>
    <div class="col-lg-6">
      <span class="pf-title"><%= t ".salary" %></span>
      <div class="pf-field">
        <%= f.number_field :salary, min: Settings.number_field.min,
                            step: Settings.number_field.step,
                            value: (object.salary || Settings.number_field.default_value) %>
      </div>
    </div>
    <div class="col-lg-6">
      <span class="pf-title"><%= t ".quantity" %></span>
      <div class="pf-field">
        <%= f.number_field :quantity, min: Settings.number_field.min,
                            step: Settings.number_field.step,
                            value: (object.quantity || Settings.number_field.default_value) %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".categories" %></span>
      <div class="pf-field">
        <%= render "jobs/job_categories", collection: @categories, field: "job[job_categories]", form: f %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".requirement" %></span>
      <div class="pf-field">
        <%= f.text_area :requirement %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".benefit" %></span>
      <div class="pf-field">
        <%= f.text_area :benefit %>
      </div>
    </div>
    <div class="col-lg-12">
      <span class="pf-title"><%= t ".expire_at" %></span>
      <div class="pf-field">
        <%= f.date_field :expire_at %>
      </div>
    </div>
    <div class="col-lg-12 submit-container">
      <%= f.submit yield(:submit_text) %>
    </div>
  </div>
<% end %>
