<h1><%= t ".reset_password" %></h1>
<p><%= t ".intro" %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @account.reset_token, email: @account.email) %>
<p><%= t ".expire" %></p>
<p><%= t ".ignore" %></p>
