<%= form_for object do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="cfield">
    <%= f.text_field :name, placeholder: t(".placeholder.name") %>
  </div>
  <div class="cfield">
    <%= f.text_field :address, placeholder: t(".placeholder.address") %>
  </div>
  <div class="cfield">
    <%= f.text_field :phone_number, placeholder: t(".placeholder.phone_number") %>
  </div>
  <% if current_account.company? %>
    <div>
      <%= f.text_area :description, placeholder: t(".placeholder.description"), class:"des" %>
    </div>
  <% elsif current_account.user? %>
    <div class="select">
      <%= t ".gender" %>
      <span class="select-1"><%= f.select :gender, gender_options %><span>
    </div>
    <div class="select">
      <%= t ".birthday" %>
      <span class="select-2"><%= f.date_field :birthday %><span>
    </div>
    <section>
      <div class="block">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <%= render "partial/info_apply_form", field: :user_info, form: f %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
  <%= f.submit t(".submit_text"), class:"btn btn-primary"%>
<% end %>
