<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-lg-4">
      <div class="ava-profile">
        <%= show_avatar @user.avatar %>
      </div>
      <span class="avatar">
        <%= f.fields_for :account do |ff| %>
          <%= ff.file_field :avatar %>
        <% end %>
      </span>
    </div>

    <div class="col-lg-8">
      <div class="row row-profile">
        <div class="col-lg-5">
          <div class="pf-title">
            <%= t ".name" %>
            <span class="required-field"></span>
          </div>
          <div class="pf-field">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="pf-title">
            <%= t ".email" %>
            <span class="required-field"></span>
          </div>
          <div class="pf-field">
            <%= text_field_tag :email, @current_account.email, readonly: true %>
          </div>
        </div>
      </div>

      <div class="row row-profile">
        <div class="col-lg-4">
          <div class="pf-title">
            <%= t ".phone" %>
            <span class="required-field"></span>
          </div>
          <div class="pf-field">
            <%= f.text_field :phone_number %>
          </div>
        </div>

        <div class="col-lg-3">
          <span class="pf-title">
            <%= t ".gender" %>
            <span class="required-field"></span>
          </span>
          <div class="pf-field">
            <%= f.select :gender, gender_options %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pf-title">
            <%= t ".birthday" %>
            <span class="required-field"></span>
          </div>
          <div class="pf-field">
            <%= f.date_field :birthday %>
          </div>
        </div>
      </div>

      <div class="row row-profile">
        <div class="col-lg-11">
          <div class="pf-title">
            <%= t ".address" %>
            <span class="required-field"></span>
          </div>
          <div class="pf-field">
            <%= f.text_field :address %>
          </div>
        </div>
      </div>
    </div>

    <%= render "partial/info_apply_form", field: :user_info, form: f %>

    <div class="col-lg-12 submit-btn-custom">
      <%= f.submit yield(:button_text) %>
    </div>
  </div>
<% end %>
