<section>
  <div class="block no-padding">
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-featured-sec">
            <div class="new-slide">
              <%= image_tag Settings.image.background_search %>
            </div>
            <div class="job-search-sec">
              <div class="job-search">
                <h3>
                  <%= t ".intro" %>
                </h3>
                <span>
                  <%= t ".small_intro" %>
                </span>
                <%= form_tag(jobs_path, method: :get) do %>
                  <div class="row">
                    <div class="col-lg-10 col-md-5 col-sm-12 col-xs-12">
                      <div class="job-field">
                        <%= text_field_tag :key, nil, placeholder: t(".job_title") %>
                        <i class="fas fa-keyboard-o"></i>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                      <%= submit_tag t(".search"), class: "btn btn-primary btn-lg basic-search-btn" %>
                    </div>
                  </div>
                <% end %>
                <div class="or-browser">
                  <span>
                    <%= t ".browse_job_by" %>
                  </span>
                  <%= link_to t(".filter") %>
                </div>
              </div>
            </div>
            <div class="scroll-to">
              <%= link_to "#scroll-here" do %>
                <i class="fas fa-arrow-down"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
