<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <section>
          <div class="block no-padding  gray">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="inner2">
                    <div class="inner-title2">
                      <h3><%= t "list-candidates" %></h3>
                    </div>
                    <div class="page-breacrumbs">
                      <ul class="breadcrumbs">
                        <li><%= link_to t(".home"), root_path %></li>
                        <li><%= link_to @job.company.name, @job.company %></li>
                        <li><%= link_to @job.name, @job %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%= search_form_for @search, url: user_apply_job_path(@job) do |f| %>
          <div class="col-lg-3">
            <%= t ".name" %>
            <%= f.search_field :name_cont, placeholder: "name" %>
          </div>
          <div class="col-lg-2">
            <%= t ".status" %>
            <%= f.select :status_cont, options_for_select(status_options), include_blank: true %>
          </div>
          <div class="col-lg-3">
            <%= t ".applied_from" %>
            <%= f.date_field :created_at_gteq, value: Settings.date_format %>
          </div>
          <div class="col-lg-3">
            <%= t ".applied_to" %>
            <%= f.date_field :created_at_lteq, value: Settings.date_format %>
          </div>
          <div class="col-lg-1 col-submit">
            <%= button_tag type: "submit" do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        <% end %>
        <%= render partial: "user_apply_jobs/user_apply_job",
          collection: @user_apply_jobs, as: :user_apply_job %>
      </div>
    </div>
  </div>
</section>
