<header class="gradient">
  <div class="menu-sec">
    <div class="container">
      <div class="logo">
        <%= link_to image_tag(Settings.image.logo), root_path %>
      </div><!-- Logo -->
      <div class="btn-extars">
        <%= link_to "#", class: "post-job-btn" do %>
          <i class="fa fa-plus"></i><%= t ".post" %>
        <% end %>
        <ul class="account-btns">
          <% if logged_in? %>
            <li class="signup-popup">
              <%= link_to t(".profile"), profile_link %>
            </li>
            <li class="signup-popup logout-btn">
              <%= button_to t(".logout"), logout_path, method: :delete %>
            </li>
          <% else %>
            <li class="signup-popup">
              <%= link_to new_account_path do %>
                <i class="fa fa-key"></i> <%= t ".signup" %>
              <% end %>
            </li>
            <li class="signin-popup">
              <%= link_to login_path do %>
                <i class="fa fa-external-link-square"></i> <%= t ".login" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- Btn Extras -->
      <nav>
        <ul>
          <li class="menu-item">
            <%= link_to t(".home"), root_path %>
          </li>
          <li class="menu-item-has-children">
            <%= link_to t(".categories"), "#" %>
          </li>
          <li class="menu-item-has-children">
            <%= link_to t(".jobs"), jobs_path %>
          </li>
          <li class="menu-item">
            <%= link_to t(".contact"), "#" %>
          </li>
          <li class="menu-item-has-children">
            <%= link_to t(".language"), "#" %>
            <ul>
              <li>
                <%= link_to t(".english"), locale: :en %>
              </li>
              <li>
                <%= link_to t(".vietnamese"), locale: :vi %>
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- Menus -->
    </div>
  </div>
</header>
