<!DOCTYPE html>
<html>
  <head>
    <title>Intern2021ManagerJob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="theme-layout" id="scrollup">
      <%= render partial: "layouts/header" %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
      <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    </div>
  </body>
</html>
