<div class="sign-up">
  <section>
    <div class="block no-padding  gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner2">
              <div class="inner-title2">
                <h3><%= t ".register" %></h3>
                <span><%= t ".intro" %></span>
              </div>
              <div class="page-breacrumbs">
                <ul class="breadcrumbs">
                  <li><%= link_to t(".home"), root_path %></li>
                  <li><%= link_to t(".register"), new_account_path %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="block remove-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="account-popup-area signup-popup-box static">
              <div class="account-popup">
                <h3><%= t ".sign_up" %></h3>
                <%= render "shared/signup_form", object: @account %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
